
<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
<!--      <%= link_to article.title, article_path(article) %>
-->
<!--      <%= link_to article.title, article_path(article),class: 'article_title' %>-->

<!---<%= link_to article.title, article_path(article),
    class: 'article_title', id: "article_#{article.id}" %>
-->
<%= link_to article.title, article_path(article)%>
      <br>
<br>
<!--      <a href="/articles/1">First Sample Article</a>
-->
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>